.space-right {
	margin-left: 3px;
}
.input-number {
	width: 60px; 
	height: 30px;
	border: 1px solid #d8dde6; 
	border-radius: 0.15rem;
	text-align: center;
}
.label-number {
	display: inline-block;
    padding-top: 5px;
}