/*style*/
.coloring-form-style {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.community-site-form {
    border: 0px !important;
    padding: 0px 10px;
}

option:hover {
    background-color: lightgray;
}

.quickActionFooter {
    visibility: hidden;
}

.space-sections {
    margin-top:-15px;
}

.space-minor-sections {
    margin-top:-5px;
}
.border-dashed {
    /*width: 90% !important;*/
    border-bottom: 1px #CCC dashed !important;
    width: 48%;
    margin-right: 2%;
}

:host(.customize-width) {
    width: 90%;
}

.customize-width {
    width: 90%;
}

.margin-top {
    margin-top: 15px;
}

.coloring-component {
    margin: 0px 15px;
    margin-bottom: 10px;
    width: 47%;
    border-bottom: 1px dashed lightgray; 
}

.common-component {
    margin: 0px 10px;
    width: 45%; 
    border-bottom: 1px dashed lightgray;
}

.common-container-component {
    margin: 0px 15px;
    width: 45%; 
    border-bottom: 1px dashed lightgray;
}

.styleClass {
    border-bottom: 1px dashed lightgray;
    margin-left: 15px;
    padding: 0px;
    width: 100% !important;
}

.newActionFooter {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.newFields {
    padding: 10px 5px !important;
    display: block;
}

.maps {
    min-width: 0 !important;
    width: 95%;
    float: left;
}

.mapsContainer {
    padding-left:10px;
}

.helpTextMaps {
    display: flex;
}

.leftSpace {
    padding-left:10px;
}

.leftSide {
    width: 98%; 
    height: 100%; 
    padding: 0 40px 0 5px;
}

.bottomSide {
    padding-left: 10px;
    margin: 0 15px;
}

.avatarBackground {
    background-color: #65CAE4; 
    float:left;
}

.leftSize {
    width: 98%;
}

.extraHeight {
    height: 50px;
}

.textFancy {
    text-align: left;
}

.extraHeightTextFancy {
    text-align: left;
    height: 42px;
}

.editSize {
    width: 95%;;
}

.leftNewFormLabelSpace {
    padding-left: 30px;
}

.leftNewFormLabelContainerSpace {
    padding-left: 10px;
}