.select-size{
	height: 30px; 
	width: 95%;
    margin: 0px;
}

.space-right {
	margin-right: 5px;
}

.gray-border {
	border: 1px solid #CCC;
    font-family: sans-serif;
    font-size: 13px;
}

.space-alone {
	height: 70px;
}

.show-scroll {
	display: block;
    width: 100%;
    overflow-x: auto;
    padding-top: 10px;
}

.indicator-text {
	white-space: pre-wrap;
	font-size: .8125rem;
    font-family: "Salesforce Sans", Arial, sans-serif;
    padding: 0.5rem;
}

.indicator-title {
	width: 35%;
	font-family: "Salesforce Sans", Arial, sans-serif;
    padding: 0px !important;
}

.clean_header {
	background-color: #FFF;
	font-size: .75rem;
    line-height: 0.5;
    color: #54698d;
    text-transform: uppercase;
    letter-spacing: 0rem;
	font-weight: normal;
    text-align: center;
    padding-left: 5px !important;
}

.slds-table tbody tr:hover td {
    background-color: rgb(216, 237, 255) !important;
}

.min-height {
	min-height: 80px;
	margin-bottom: 5px;
}

.field-title {
	display: inline-block;
	font-family: "Salesforce Sans", Arial, sans-serif;
    font-size: .75rem !important;
    line-height: 1.5;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
}

.buttonAlignment {
    height: 80px;
    vertical-align: middle;
    display: table-cell;
    text-align: right;
}

.indicator-value {
    text-align: center;
    padding: 2px;
}

.warning-message {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    display: inline-block;
}


.note {
    font-weight: bold;
    font-style: italic;
    color: red;
}

.pointerEventsEnabled {
    pointer-events: none;
}